*{
    margin: 0px;
    padding: 0px;
}
/* to remove button color underline etc */
.removelink{
    text-decoration: none;
    color: white;
}
.removelink:hover{
    text-decoration: none;
    color: white;
}

    /* navbar section */
header >nav{
    background-color: 	#eee5c5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .left{
    font-family: 'Poppins',sans-serif;
    align-items: center;
    font-size: 2.4rem;
    padding: 4px;
    font-weight: 600;
    
}
nav .left a{
    text-decoration: none;
    color: inherit;
}
nav .right ul{
    display: flex;
}

nav .right ul li{
    font-family: 'Poppins',sans-serif;
    list-style: none;
      
    margin: 0px 29px;
}

nav .right ul li:focus{
    color: rgb(225, 248, 14);
}

nav .right ul li a{
    text-decoration: none;
    color: inherit;
}

    /* topper section */

#socialmedia{
    background-color: #f0d90f;
    display: flex;
    justify-content: space-between;

}

.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
.fa-linkedin{
    color: #0072b1;
}
.fa-twitter{
    color: #00acee;
}


#socialmedia #topleft{
    font-family: 'Poppins',sans-serif;
    margin: 0px 33px;
    color: white;
    size: 1.03rem;
}
#socialmedia #topright ul{
    display: flex;

}

#socialmedia #topright ul li {
    list-style: none;
    margin: 0px 13px;
}

#socialmedia #topright ul li:last-child{
   margin-right: 50px;
}

#socialmedia #topright ul li .fa{
  text-decoration: none;
}

    /* main section */

.first{
    display: flex;
    justify-content: space-around;
    margin-top: 30px 0 0 0;
}

.secLeft{
    font-family: 'Poppins',sans-serif;
    font-size: 2.0rem;
    width: 30%;
    margin: 100px 20px 0 0;
}
.highlight{
    color: rgb(236, 236, 17);
    font-size: 2.1rem;
}
.secLeft p{
    font-family: 'Poppins',sans-serif;
    font-size: 1.0rem;
}

.secRight{
    width: 45%;
}

.secRight img{
    height: 107%;
    width: 110%;
    margin: 0;
    padding: 0;
}


/* footer */

hr{
    border: 0;
    background: rgb(243, 236, 236);
    height: 1.5px;
    margin: 0 50px;
}
footer{
    background-color: #0f1011 ;
}
.footer-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}

.footer-header .footer-left{
    font-family: 'Poppins',sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    color: white;
}
.footer-header .footer-right{
    padding: 4px;
    border-radius: 5px;
}

.changeprojbutton{
    width: 150px;
     height: 40px;
     font-size: 15px;
    cursor:pointer;
    border: 0;
}
.changeprojbutton:hover{
    border: 0px;
    width: 151px;
    height: 41px;
    background-color: rgb(224, 208, 208);
}

.footer-body{
    display: flex;
    justify-content: space-between;
    margin: 30px 25px ;
    width: 80%;
}

.footer-body .footer-logo{
    padding-left: 24px;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: rgb(245, 241, 24);
}

.footer-body .footer-first ul li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.footer-body .footer-second ul li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.footer-end{
    display: flex;
}

.footer-end > div{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: white;
    justify-content: start;
    margin: 7px 20px;
    width: 75%;
}

.footer-end #thanks{
    display: flex;
    justify-content: end;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
    margin-right: 2px;
}
.footer-end #thanks >span{
    margin: 4px 10px;
    color: red;
}

                    /*  About page*/


.second-section{
    background-color: #f8ebd8;
}
.body-header{
    display: flex;
    justify-content: center;
    background-color: #f8ebd8;
    height: 120px;
}
.body-header > div{
    padding-top: 30px;
    font-family: 'Poppins',sans-serif;
    font-size: 28px;
    font-weight: 600; 
    color: rgb(161, 155, 155);  
    letter-spacing: 1px;
}
.abouthr{
    border: 0px;
    background-color: rgb(187 179 179);
    height: 1.5px;
    margin: -32px 25px 0 25px;
}

.body-main{
    background-color: #f8ebd8;
    display: flex;
    justify-content: space-around;
}


.body-main .body-content{
    letter-spacing: 1px;
    padding-top: 120px;
    width: 51%;
    font-size: 1.7rem;
    font-family: 'Poppins',sans-serif;

}
.body-content #element3{
    color: #f0d90f;
}

.body-gif >img{
    height: 101vh;
    width: 85%;
}

.education-section{
    background-color: #f8ebd8;
    padding-top: 30px;
}

.education-section .education-head{
    display: flex;
    justify-content: center;
    font-family: 'Poppins',sans-serif;
    font-size: 27px;
    font-weight: 700;
    align-items: center;
    padding: 25px 0 0 0;
    color: rgb(51, 45, 45);
    
}

.underline{
    border: 0;
    background-color: black;
    height: 2px;
    margin: 0 43%;
}

.education-content{
    margin: 45px 150px;
    width: 80%;
}


            /* Services page */

.body-main .body-content >h5{
    letter-spacing: 3px;
    word-spacing: 8px;
    line-height: 33px;
    padding-bottom: 62px;
}

        /* projects page */
.main{
    background-color: #f8ebd8;
}
.proj-body{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
}
.proj-body .proj-left{
    width: 45%;
}
.proj-body .proj-right{
    width: 17%;
}
.proj-body .proj-left .content #title{
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
}
.proj-body .proj-left .content >p{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 23px;
}
.proj-body .proj-left .content >h5{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 26px;

}
.proj-body .proj-left .content >h5:last-child{
    margin-bottom: 66px;
}

.proj-body .proj-right >img{
    width: 330px;
    height: 260px;
}


.goldencolor{
    color: #bdac19;
}

        /* contact page */

.contact-body{
    display: flex;
    justify-content: space-evenly;
    margin: 55px 0;
}

.contact-body .sec-one .phonehead{
    margin: 8px 0;

}

.contact-body .sec-one >h6{
    font-size: 30px;
    font-family: 'Poppins',sans-serif;

}
.contact-body .sec-one >p{
    font-size: 19px;
    font-family: 'Poppins',sans-serif;
    align-items: center;
}

.contact-body .sec-two .phonehead{
    margin: 12px 0;
}
.contact-body .sec-two >h6{
    font-size: 27px;
    font-family: 'Poppins',sans-serif;
}
.contact-body .sec-two p{
    font-size: 19px;
    font-family: 'Poppins',sans-serif;
}
.contact-body .sec-three .phonehead{
    margin: 8px 0;
}
.contact-body .sec-three >h6{
    font-size: 27px;
    font-family: 'Poppins',sans-serif;
}
.contact-body .sec-three h5:hover{
    font-size: 1.35rem;
}




